
/* GENERAL STYLING */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.h-p-group {
    width: 100%;
    margin-bottom: 87px;
}

.h-p-group h2,
.h-p-group p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.h-p-group h2 {
    margin: 0;
    padding-top: 50px; /*100*/
    font-weight: 700;
    font-size: 32px;
}

.h-p-group p {
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 20px;
    color: #adadad;
}

address {
    font-style: normal;
}


/*--------------------------------------------*/


/* #HEAD */

.head {
    height: 862px;
}

.head-container {
    height: 862px;
    width: 940px;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    padding-top: 52px;
}


/* #logo */

@keyframes myLogoAnimation {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.logo {
    float: left;
    display: inline-block;
    margin-left: 50px;
    animation: myLogoAnimation 6000ms linear infinite;
}

.logo a {
    display: inline-block;
    float: left;
    margin: 10px 10px 0 0;
}
.cover-logo{
    display: inline-block;
    float: left;
    position: absolute;
    margin-left: -45px;
}


/* #menu */


.menu {
    display: inline-block;
    float: right;
    margin-top: 30px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 19px;
}

.menu ul li a {
    color: #000000;
}

.menu ul li a:hover {
    color: #428bca;
}
.nav{
    position: fixed;
    top: 30px;
    width: 100%;
    height: 100vh;
    transition: right .7s ease;
}

.responsive-menu {
    overflow: hidden;
    z-index: 10;
    top: 20px;
    left: 0;
    height: 0px;
    width: 100%;
    background-color: #3498DB;
    text-transform: uppercase;
}

.mobile-menu {
    margin-top: 20px;
    list-style-type: none;
    text-align: center;
    color: white;
    font-size: 18px;
}

.mobile-menu a,
a:visited,
a:active,
a:hover {
    color: white;
}

.mobile-menu li {
    margin-bottom: 10px;
    /*text-decoration: none;*/
}


@media only screen and (min-width: 715px) {
    .responsive-menu {
        display: none;
    }
}



/*.header_mobile .nav{
    right: 0;

}
@media all and (min-width: 440px) {
    .nav{
        width: auto;
        height: auto;
        position: static;
    }
}
.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #a3bdd3;
    height: 100%;
}
@media all and (min-width: 440px) {
    .list{
        justify-content: flex-start;
        flex-flow: row nowrap;
        background-color: transparent;
    }
}
.list li{
    position: relative;
}
.list li:not(:last-child):before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #a3bdd3;
    transform: translateX(-50%);
}
@media all and (min-width: 440px) {
    .list li:not(:last-child):before{
        display: none;
    }
}

.list_link{
    display: inline-block;
    padding: 10px 15px;
    color: #82B7DF;
    transition: color .3s ease;
}
.list_link:hover{
    color: #ffe87d;
}
.list_link--active{
    color: #82B7DF;
    text-decoration: underline;
}
.hamburger{
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
@media all and (min-width: 440px) {
    .hamburger{
        display: none;
    }
}
.hamburger:focus{
    outline: none;
}
.hamburger_icon{
    position: absolute;
    top: 150px;
    left: -120px;
    width: 16px;
    height: 2px;
    background-color: #ca151a;
    transition: opacity .3s ease, background-color .3s ease;
}
.header_mobile .hamburger_icon{
    top: 150px;
    height: 0;
    background-color: transparent;
}
.hamburger_icon:before,
.hamburger_icon:after{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: #ca151a;
    transition: transform .3s ease, background-color .3s ease;
}
.header_mobile .hamburger_icon:before,
.header_mobile .hamburger_icon:after{
    top:-10px;
    transform: rotate(45deg);

}
.hamburger_icon:after{
    top: -10px;
}
.header_mobile .hamburger_icon:after{
    transform: rotate(-45deg);
}
.hamburger:hover .hamburger_icon,
.hamburger:hover .hamburger_icon:before,
.hamburger:hover .hamburger_icon:after{
    background-color: blue;
}
.header_mobile .hamburger:hover .hamburger_icon{
    background-color: transparent;
}*/


/* #hero */

.hero {
    background-image: url("../images/mechanical-engineering-drawing-services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    height: 748px;
    width: 100%;
}

.hero h1 {
    margin: 0;
    padding-top: 200px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.hero p {
    margin: 30px 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.hero button {
    display: block;
    height: 47px;
    width: 141px;
    margin: 30px auto 0 auto;
    border: 2px solid #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.hero button:hover {
    background-color: #85a9ca;
}

.hero a {
    color: black;
}


/* PRODUCT */
.product-box {
    width: 100%;
    max-width: 800px;
    top: -500px;
    height: 260px;
    margin: 100px auto;
    background-color: white;
    position: relative;
}
.product-image {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 26%;
    position: relative;
    box-shadow: 1px 0px 0px #e0e4f6;
    z-index: 1;
}
.img_p {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}
.product-desc {
    padding-top: 20px;
    font-size: 16px;
    line-height: 20px;
}
.action-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #e0e4f6;
    height:auto;
    width: 100%;}
.add-to-cart {
    float: right;
    height: 100%;
    text-align: center;
    padding: 24px 30px;
    background: #eeeeee;
}
.add-quantity {
    float: right;
    height: 100%;
    text-align: center;
    padding: 24px 28px;
    background: #dddddd;}
.number {
    font-size: 18px;
}

.quickview {
    float: right;
    height: 100%;
    text-align: center;
    padding: 24px 30px;
    background: #eeeeee;
}

.product-info {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 74%;
    height: 100%;
    padding: 20px;
}
.product-title {
    font-size: 20px;
}
.product-cat {
    padding-top: 12px;
    font-size: 12px;
}
.arrow {
    color: #749cca;
}
.arrow {
    font-size: 0.7rem;
}


/* ABOUT*/
.about {
    /*background-image: url("../images/mechanical-engineering-drawing-services.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    height: 748px;
    width: 100%;
}

.about h1 {
    margin: 0;
    padding-top: 200px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.about p {
    margin: 30px 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}


/* Contact*/

.loadball {
    background-color: transparent;
    border: 5px solid #00a3ff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 35px #00a3ff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: spinPulse 1s infinite ease-in-out;
}

.loadball-2 {
    background-color: transparent;
    border: 5px solid #00a3ff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 15px #00a3ff;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    animation: spinoffPulse 1s infinite linear;

}

@-moz-keyframes spinPulse {
    0% {
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px#00a3ff;
    }
    50% {
        transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        transform: rotate(-320deg);
        opacity: 0;
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px#00a3ff;
    }
    50% {
        transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------*/


/* #PRICING SECTION */

.pricing-container {
    width: 940px;
    margin: 0 auto;
}

.price-block {
    display: inline-block;
    width: 32%;
    margin-bottom: 70px;
}

.price-block h3 {
    margin: 25px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.price-block p:nth-child(3) {
    margin: 0 0 30px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #adadad;
    text-align: center;
}

/*.price-block button {
    display: block;
    height: 47px;
    width: 141px;
    margin: 30px auto 0 auto;
    border: 2px solid #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.price-block button:hover {
    color: #85a9ca;
}*/

.price-block button {
    display: block;
    height: 47px;
    width: 141px;
    margin: 30px auto 0 auto;
    border: 2px solid #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.price-block button:hover {
    background-color: #85a9ca;
}

.price-block a {
    color: black;
}

.price-block img {
    display: block;
    margin: 10px auto;
}

.left-block p:nth-child(4) {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.center-block p:nth-child(4),
.right-block p:nth-child(4) {
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.left-block p:nth-child(6) {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #85a9ca;
    text-align: center;
}

.center-block p:nth-child(6),
.right-block p:nth-child(6) {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #85a9ca;
    text-align: center;
}

p.fa-dollar-sign{
    margin-left: 55px;
}

p.fa-dollar-sign {
    margin-left: 45px;
}


/*--------------------------------------------*/


/*--------------------------------------------*/


/* #Partner SECTION */

.partner-container {

    width: 940px;
    margin: 0 auto;
}

.positioning-container {
    display: inline-block;
    height: 350px;
    /*width: 24%;*/
    overflow: hidden;
}

.img-icon-container {
    position: relative;
    height: 220px;
    width: 220px;
    margin: 0 auto 0 auto;
}

.positioning-container h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.positioning-container h3 {
    margin: 20px 0 12px 0;
    font-size: 22px;
    font-weight: 700;
}

.positioning-container p {
    margin: 0 0 50px 0;
    font-size: 16px;
    font-weight: 400;
    color: #adadad;
}



/*--------------------------------------------*/


/* #DATA (STATS & TESTIMONIALS) SECTION */

.data-container {
    /*height: 800px; 900*/
    width: 940px;
    margin: 0 auto;
}


/* #stats */

.stats-container {
    /*width: 660px;*/
    width: 70%;
    margin: 0 auto 75px auto;
}

.stats-block {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.stats-block .fa-cogs,
.stats-block .fa-handshake,
.stats-block .fa-check-square,
.stats-block .fa-trophy {
    display: block;
    cursor: pointer;

}
.fa-cogs:hover,
.fa-handshake:hover,
.fa-check-square:hover,
.fa-trophy:hover {
    color: #8bb4ca;
}


.stats-block h4,
.stats-block h5 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.stats-block h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.stats-block h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #adadad;
}



/* #FEEDBACK SECTION */

.feedback-container {
    width: 940px;
    margin: 0 auto;
}


/* #contacts */

.contacts-container {
    width: 70%;
    margin: 0 auto 42px auto;
}

.contacts-block h4,
.contacts-block a,
.contacts-block address,
.contact-form input,
.textarea-positioning textarea {
    font-family: 'Source Sans Pro', sans-serif;
}

.contacts-block {
    display: inline-block;
    height: 140px;
    width: 32%;
    vertical-align: top;
}

.contacts-block h4 {
    margin: 21px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.contacts-block a {
    display: block;
}

.contacts-block a:hover {
    color: #8bb4ca;
}

.contacts-block address,
.contacts-block a {
    font-size: 14px;
    font-weight: 400;
    color: #adadad;
    text-align: center;
}

.fa.fa-map-marker {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.fa.fa-envelope {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.fa.fa-phone-square {
    margin: 0 auto;
    display: block;
    text-align: center;
}


/* #contact form */

.contact-form {
    padding-bottom: 50px;
    width: 100%;
}

.contact-form form {
    margin: 0 auto;
}

.contact-form input,
.textarea-positioning textarea {
    display: block;
    outline: none;
}

.textarea-positioning {
    /*width: 456px;*/
    width: 50%;
    margin: 0 auto;
}

.contact-form input[type=text],
.contact-form input[type=email],
.textarea-positioning textarea {
    border: 2px solid #000000;
}

.textarea-positioning textarea {
    height: 179px;
    /*width: 456px;*/
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    resize: none;
    box-sizing: border-box;
}

.contact-form input[type=email],
.contact-form input[type=text] {
    height: 51px;
    /*width: 456px;*/
    width: 50%;
    margin: 0 auto 24px auto;
    padding-left: 20px;
    box-sizing: border-box;
}

.contact-form input[type=submit] {
    height: 53px;
    /*width: 170px;*/
    width: 20%;
    margin: 26px auto 0 auto;
    border: transparent;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    cursor: pointer;
}

.contact-form input[type=submit]:hover {
    background-color: #696969;
}


/*--------------------------------------------*/


/* #FOOTER */

footer {
    background-color: #d7dde0;
}

/* #footer contacts */

.footer-contacts h5,
.footer-contacts a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: black;
}

.footer-contacts {
    float: center;
    display: inline-block;
    line-height: 1.9em;
}

.footer-contacts h5 {
    margin: 0;
    font-weight: 400;
}

.footer-contacts a {
    display: block;
    margin-top: 4px;
}

.footer-contacts a:hover{
    color: #85a9ca;
}


/*
* #Up-Button
*/
#up-btn {
    position: fixed;
    bottom: 10%;
    left: 90%;
    display: none;
}

#up-btn .fa {
    color: #85a9ca;
}

#footer:hover + #up-btn {
    display: block;
}

#up-btn:hover {
    display: block;
    /* up-btn block isn't blinking when hovered */
}
/*--------------------------------------------*/

/*
* #MEDIA QUARIES
*/

/* for max-width 348px */
@media screen and (max-width: 348px) {
    .stats-block {
        display: block;
        width: 25%;
        margin: 0 auto 40px auto;
    }

    .stats-block .fa-thumbs-up {
        display: block;
        margin: 0 auto;
    }
}

/* for max-width 440px */
@media screen and (max-width: 440px) {
    .head {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .head-container {
        width: 100%;
    }

    .logo {
        margin: 0 auto 0 25px;
    }

  /* .menu {
        margin-right: 0;
    }

    .menu ul li {
        margin-right: 40px;
    }*/

    .hero,
    .about{
        width: 100%;
    }

    .hero h1,
    .about h1{
        color: #000000;
    }

    .hero a {
        display: none;
    }
    .about{
        width: 100%;
    }


    .price-block,
    .partner-container{
        margin-bottom: 90px;
    }
    .positioning-container,
    .action-bar,
    .product-box{
        margin: 0 auto 20px auto;
    }

    /*.stats-container,*/
    .feedback-container,
    .contacts-container,
    .contacts-block,
    .contact-form,
    footer,
    .footer-container,
    .textarea-positioning textarea,
    .footer-form,
    .footer-form form,
    .footer-form form input[type="email"],
    .footer-contacts,
    .partner-container-container,
    .team-block-container,
    .price-block,
    .pricing-container,
    .partner-container,
    .data-container{
        width: 100%;
    }

    .stats-block {
        display: block;
        width: 25%;
        margin: 0 auto 40px auto;
    }

    .stats-block .fa-thumbs-up {
        display: block;
        margin: 0 auto;
    }

    .contact-form input[type="email"],
    .contact-form input[type="text"],
    .contact-form input[type="submit"],
    .textarea-positioning,
    .contact-form form {
        width: 65%;
    }

    .contacts-block,
    .footer-contacts,
    .logo,
    .positioning-container,
    .product-box,
    .action-bar{
        display: block;
    }
    .action-bar{
    bottom: -100px;
}

    .footer-contacts {
        text-align: center;
        margin-bottom: 30px;
    }

    #up-btn {
        left: 80%;
        bottom: 5%;
    }
}


/* for max-width 2000px */
@media screen and (min-width: 900px) and (max-width: 2000px) {
    .head {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .head-container {
        width: 100%;
    }

    .menu {
        display: block;
        margin: 0 auto 0 120px;
    }

    .menu {
        display: block;
        margin-right: 50px;
    }

    .hero,
    .services-container,
    .about{
        width: 100%;
    }

    .hero h1 {
        color: #000000;
    }


    .pricing-container,
    .product-box,
    .partner-container,
    .data-container,
    .stats-container,
    .customer-info,
    .feedback-container,
    .contacts-container,
    .contact-form,
    .textarea-positioning textarea,
    footer,
    .footer-contacts   {
        width: 100%;
    }

    .positioning-container{
        width: 48%;
        display: inline-block;
    }

    .contact-form input[type="email"],
    .contact-form input[type="text"],
    .contact-form input[type="submit"],
    .contact-form form,
    .textarea-positioning {
        width: 85%;
    }

    .footer-contacts {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    #up-btn {
        left: 80%;
        bottom: 10%;
    }
}
